name: Python application

on:
  push:
    branches: [ "main", "dev" ]
  # use pull_request_target to have access to secrets.
  pull_request_target:
    branches: [ "main", "dev" ]

permissions:
  contents: read

jobs:
  testing:
    runs-on: ubuntu-latest
    # use environment to require approval before using secrets
    environment: test-with-secrets

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      # pull_request_target checks out the base branch (main/dev) by default. To test 
      # the PR code, explicitly check out the PR branch.
      with:
        ref: ${{ github.event.pull_request.head.sha || github.sha }}
    
    - name: Set up MPI
      uses: mpi4py/setup-mpi@v1
      with:
        mpi: "openmpi"
        
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        
    - name: Install dependencies and PyMBE
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install pytest pytest-cov mypy
      shell: bash

    - name: Fetch MBECC library
      run: |
        gh release download --repo eriksen-lab/mbecc --pattern libmbecc.so
        echo "MBECCLIB = 'libmbecc.so'" > pymbe/settings.py
      env:
        GH_TOKEN: ${{ secrets.MBECC_RELEASE_ACCESS }}
      shell: bash

    - name: Type checking
      run: mypy --ignore-missing-imports --warn-redundant-casts pymbe
        
    - name: Testing
      run: |
        export PYTHONHASHSEED=0
        mkdir -p junit
        python3 -m pytest -x \
          --junitxml=junit/test-results.xml \
          --cov=pymbe \
          --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: coverage.xml
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
